<div id="orders">
    <br>
    <div class="body">
        <p>Search Bar here! Let's do a Contains query!</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Billing Address</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/">100</a></td>
                    <td>Bob</td>
                    <td>9/6/2014</td>
                    <td>123 Dojo Way Bellevue, WA 98005</td>
                    <td>$149.99</td>
                    <td>
                        <select name="status" id="">
                            <option value="Order In Process">Order In Process</option>
                            <option value="Shipped">Shipped</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>