<div id="browse">
    <div class="searchcat">
        <form>
            <input type="text" placeholder="product name">
            <button>S</button>
        </form>
        <h6 class="bold">Categories</h6>
        <ul>
            <li>Tshirts (25)</li>
            <li>Shoes (35)</li>
            <li>Cups (5)</li>
            <li>Fruits (105)</li>
            <li class="italic">Show All</li>
        </ul>
    </div>
    <div class="mainbox">
        <h2>Tshirts (page 2)</h2>
        <div class="navigator">
            <a href="#">first</a> |
            <a href="#">prev</a> |
            <a href="#">2</a> |
            <a href="#">next</a>
        </div>
        <div class="sorting">
            <h5>Sorted by</h5>
            <select>
                <option value="Price">Price</option>
                <option value="MostPopular">Most Popular</option>
            </select>
        </div>
        <div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
            <div class="item">
                <img src="images/meaty.jpg" alt="meaty">
                <div class="priceblock">
                    <p>$19.99</p>
                </div>
                <p>Black Belt</p>
            </div>
        </div>
        <div class="pages">
            <a href="#">1</a> |
            <a href="#">2</a> |
            <a href="#">3</a> |
            <a href="#">4</a> |
            <a href="#">5</a> |
            <a href="#">6</a> |
            <a href="#">7</a> |
            <a href="#">8</a> |
            <a href="#">9</a> |
            <a href="#">10</a> |
            <a href="#">-></a>
        </div>
    </div>
</div>