<div id="info">
    <a href="#">Go Back</a>
    <h2>Black Belt for Staff M</h2>
    <div class="infoimages">
        <img src="~/images/meaty.jpg" alt="meaty" class="bigpic">
        <div class="smallpics">
            <img src="~/images/meaty.jpg" alt="meaty">
            <img src="~/images/meaty.jpg" alt="meaty">
            <img src="~/images/meaty.jpg" alt="meaty">
            <img src="~/images/meaty.jpg" alt="meaty">
            <img src="~/images/meaty.jpg" alt="meaty">
        </div>
    </div>
    <div class="descpurch">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam gravida massa ac viverra. In hac habitasse platea dictumst. In semper purus enim, ut viverra magna molestie sit amet. Donec finibus ante sit amet sem egestas bibendum. Sed nec mauris non odio vulputate laoreet. Suspendisse sit amet pharetra turpis. Nam vitae leo scelerisque, elementum augue in, cursus metus. Sed in ex dapibus, semper neque sagittis, venenatis ex. Cras posuere sapien sagittis, tempus diam nec, volutpat sem. Aliquam dui ligula, interdum sed justo ut, congue fringilla nisi.</p>
        <form>
            <select name="" id="">
                <option value="">1 ($19.99)</option>
                <option value="">2 ($19.99)</option>
                <option value="">3 ($19.99)</option>
            </select>
            <button>Buy</button>
        </form>
    </div>
    <div class="bottom">
        <h4>Similar Items</h4>
        <div class="item">
            <img src="~/images/meaty.jpg" alt="meaty">
            <div class="priceblock">
                <p>$19.99</p>
            </div>
            <p>Black Belt</p>
        </div>
        <div class="item">
            <img src="~/images/meaty.jpg" alt="meaty">
            <div class="priceblock">
                <p>$19.99</p>
            </div>
            <p>Black Belt</p>
        </div>
        <div class="item">
            <img src="~/images/meaty.jpg" alt="meaty">
            <div class="priceblock">
                <p>$19.99</p>
            </div>
            <p>Black Belt</p>
        </div>
        <div class="item">
            <img src="~/images/meaty.jpg" alt="meaty">
            <div class="priceblock">
                <p>$19.99</p>
            </div>
            <p>Black Belt</p>
        </div>
        <div class="item">
            <img src="~/images/meaty.jpg" alt="meaty">
            <div class="priceblock">
                <p>$19.99</p>
            </div>
            <p>Black Belt</p>
        </div>
        <div class="item">
            <img src="~/images/meaty.jpg" alt="meaty">
            <div class="priceblock">
                <p>$19.99</p>
            </div>
            <p>Black Belt</p>
        </div>
        <div class="item">
            <img src="~/images/meaty.jpg" alt="meaty">
            <div class="priceblock">
                <p>$19.99</p>
            </div>
            <p>Black Belt</p>
        </div>
    </div>
</div>